@tailwind base;
@tailwind components;
@tailwind utilities;
/* NAVBAR CSS */

.nav-link {
  font-size: 20px;
  margin-left: 2px;
  margin-right: 2px;
}
.nav-link:hover {
  color: #ee147b;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ee147b;
  transform-origin: bottom left;
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(0.5);
  transform-origin: bottom left;
}
